<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/Assets/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
<script src="/Assets/js/bootstrap.min.js"></script>
</html>
